.pattern{
    background-image: url(../img/pattern.png);
    background-color: deepskyblue;
    background-size: 250px;
    height: 84px;
    width:auto;
}

.logo{
    width: 130px;
    margin-top: -3%;
}

h1{
    padding-right: 25%;
}