.pattern{
    background-image: url(../img/pattern.png);
    background-color: deepskyblue;
    background-size: 250px;
    height: 84px;
    width:auto;
}

.logo{
    width: 130px;
    margin-top: -3%;
}

h1{
    padding-right: 45%;
    margin-top: 2%;
}
  
.span1{
    color: grey;
    margin-top: 1px;
}

.span2{
    color: blue;
    margin-top: 1px;
}

h5{
    color: grey;
    margin-top: 1px;
}

.photo{
    margin-top: -4Spx;
}

.Lorem{
    background-color: yellow;
}

thead{
    color: aliceblue;
    background-color: cornflowerblue;
}

.background{
    background-color:white;
}

tbody{
    background-color:aquamarine ;
}

table{
    
    text-align: center;
    margin-right:  0px;
    width: 900px;
}

.monitor{
    background-image: url(../img/monitor.jpg);
    width: 260px;
    height: 177px;
}

.graph{
    background-image: url(../img/graph.jpg);
    width: 260px;
    height: 177px;
}

.pubblicità-monitor{
    height: 184px;
    width: 250px;
    margin-top: -374px;
    color: aliceblue;
}

.pubblicità-graph{
    color: aliceblue;
}