.pattern{
    background-image: url(../img/pattern.png);
    background-color: deepskyblue;
    background-size: 250px;
    height: 84px;
    width:auto;
}

.logo{
    width: 130px;
    margin-top: -3%;
}

h1{
    padding-right: 25%;
    margin-top: 0%;
}

.span1{
    color: grey;
    margin-top: 1px;
}

.span2{
    color: blue;
    margin-top: 1px;
}

h5{
    color: grey;
    margin-top: 1px;
}

p{
    margin-top: -4Spx;
}